header .inputSearchSection input {
  min-height: 5rem;
  /* text-align: center; */
  font-weight: 300;
  font-size: 12pt;

  min-width: 16rem;
  padding: 1rem;
  border: none;
}

header .inputSearchSection input:focus {
  border: 2px solid rgb(255, 0, 0);
}

header .inputSearchSection {
  position: relative;
}

.inputSearchSection #tagInput {
  position: absolute;
  top: 5%;
  left: 1rem;
  font-weight: 400;
  font-size: 12pt;
}

.inputSearchSection #buttonClear {
  position: absolute;
  top: calc(50% - 1rem);
  right: 5%;
  min-width: 2rem;
  max-width: 2rem;
  border-radius: 50%;
  border: none;

  background-color: transparent;
}

.inputSearchSection #buttonClear img {
  max-width: 100%;
  transition: all 0.3s ease;
}

.inputSearchSection #buttonClear img:hover {
  transform: rotateZ(90deg);
  cursor: pointer;
}

.inputSearchSection #listOfAirports {
  position: absolute;
  top: 100%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  min-width: 25rem;
  width: 100%;

  margin-top: 0.2rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.212);
}

#listOfAirports li {
  list-style: none;
  padding: 0.4rem;
}

#listOfAirports li:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}
